.creators{
    background-color: #fff;
}
.image{
    width: 170%;
    margin-left: -70%;
}

.developerSection{
    padding-top: 10%;
    padding-bottom: 8%;
}

.details{
    width: 60%;
}

.developerDetail{
    display: flex;
    margin-left: 50px;
}

.headText{
    margin-left: 50px;
    padding-top: 2%;
    margin-bottom: 7%;
    color: #003452;
    font-size: 35px;
}

.singleDetail{
    width: 32%;
    padding-right: 10px;
    margin-right: 50px;
    margin-bottom: 2%;
    display: flex;
}

.icon1{
    width: 50px;
    background-image: url('../public/assets/images/Ellipse6.png');
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    background-position: center;
    margin-right: 20px;
    margin-top: 2%;
}

.icon2{
    width: 50px;
    background-image: url('../public/assets/images/Ellipse6.png');
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    background-position: center;
    margin-right: 20px;
    margin-top: 2%;
}

.icon3{
    width: 50px;
    background-image: url('../public/assets/images/Ellipse6.png');
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    background-position: center;
    margin-right: 20px;
    margin-top: 2%;
}

.icon4{
    width: 50px;
    background-image: url('../public/assets/images/Ellipse6.png');
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    background-position: center;
    margin-right: 20px;
    margin-top: 2%;
}

.point{
    display: flex;
}

.point ul {
    list-style: none; 
}
  
.point ul li::before {
    content: "\2022";  
    color: #39B54A; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
    font-size: 1.5em;
}

.point li {
    font-size: 18px;
}

.decision {
    width: 65%;
    margin: auto;
    display : flex;
    border-radius: 50px;
    margin-top: 5%;
}

.correct{
    padding: 70px 180px 70px 90px;
    background-color: #f6f8f9;
    border-radius: 50px 0 0 50px;
}

.correct h3{
    padding-bottom: 40px;
}

.connect{
    background-color: #EDF1F3;
    background-image: url('../public/assets/images/bg-2.png');
    padding: 70px 112px 70px 90px;
    background-size: 91% 100%;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 0 50px 50px 0;
}

.connect h3{
    padding-bottom: 70px;
}

.connect p{
    padding-bottom: 20px;
    padding-right: 21px;
}

.fees h3{
    padding-bottom: 12%;
    padding-top: 2%;
}

.fees{
    margin-bottom: 50px;
}

.income h3{
    padding-bottom: 5%;
}

.row1{
    padding-bottom: 20px;
}

@media (max-width: 320px) and (min-width: 320px) {
    .decision{
        flex-direction: column;
        margin: 0;
    }
    .point {
        flex-direction: column;
    }
    .point li {
        font-size: 16px;
    }
    .point ul {
        margin-bottom: 0;
    }
    .headText{
        margin-left: 0;
        text-align: center;
        margin-top: 30px;
    }
    .creators{
        width: 102%;
    }
    .details{
        width: 73%;
        margin: auto;
        text-align: center;
    }
    .icon1{
        margin: auto;
    }
    .icon2{
        margin: auto;
    }
    .icon3{
        margin: auto;
    }
    .icon4{
        margin: auto;
    }
    .correct{
        padding: 20px;
        width: 153%;
        border-radius: 25px;
    }
    .connect{
        padding: 20px;
        width: 153%;
        text-align: center;
        border-radius: 25px;
    }
    .connect h3{
        padding-bottom: 30px;
    }
    .connect p{
        padding-right: 0;
    }
}