.decision {
  flex-direction: column;
  margin: 0;
}

.point {
  flex-direction: column;
}

.point li {
  font-size: 16px;
}

.point ul {
  margin-bottom: 0;
}

.headText {
  margin-left: 14%;
  color: #003452;
  margin-top: 15px;
  font-size: 1.8em;
}

.creators {
  background-color: #fff;
  width: 100%;
}

.details {
  width: 73%;
  margin: auto;
}

.details p{
  font-size: 13px;
}

.details h3{
  font-size: 1.3em;
}

.decision {
  padding-bottom: 1px;
}

.decision p{
  font-size: 13px;
}

.decision li{
  font-size: 13px;
}

.correct {
  padding: 20px;
  width: 100%;
  border-radius: 25px;
  background-color: #f6f8f9;
}

.connect {
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  background-color: #edf1f3;
  background-image: url('../public/assets/images/bg-2.png');
  background-size: 91% 100%;
  background-position: right;
  background-repeat: no-repeat;
  margin: 20px 0;
}

.connect h3 {
  padding-bottom: 0;
}

.connect p {
  padding-right: 0;
}

.image {
  margin-left: -14px;
}

.icon1 {
  width: 50px;
  background-image: url('../public/assets/images/Ellipse6.png');
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  background-position: center;
  margin-top: 2%;
}

.icon2 {
  width: 50px;
  background-image: url('../public/assets/images/Ellipse6.png');
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  background-position: center;
  margin-top: 2%;
}

.icon3 {
  width: 50px;
  background-image: url('../public/assets/images/Ellipse6.png');
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  background-position: center;
  margin-top: 2%;
}

.icon4 {
  width: 50px;
  background-image: url('../public/assets/images/Ellipse6.png');
  height: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  background-position: center;
  margin-top: 2%;
}

@media (min-width: 425px) and (max-width: 768px) {
  .correct{
    width: 90%;
    margin: auto;
    padding: 10%;
  }
  .correct h3{
    padding-bottom: 30px;
    font-size: 2em;
  }
  .connect{
    width: 90%;
    margin: auto;
    padding: 10%;
    margin-top: 20px;
  }
  .connect h3{
    font-size: 2em;
  }
  .decision{
    padding-bottom: 15px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .decision {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    justify-content: center;
    margin-top: 20px;
  }
  .correct{
    width: 58%;
    border-radius: 25px 0 0 25px;
    padding: 5%;
  }
  .connect{
    width: 40%;
    border-radius: 0 25px 25px 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9%;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .creators {
    padding-bottom: 3%;
    padding-top: 3%;
  }
  .decision {
    width: 90%;
    margin: auto;
    display: flex;
    border-radius: 50px;
    margin-top: 2%;
    flex-direction: row;
  }
  .correct {
    width: 160%;
    padding: 5% 10% 5% 5%;
    background-color: #f6f8f9;
    border-radius: 50px 0 0 50px;
  }
  .correct h3 {
    font-size: 1.8em;
    margin-bottom: 5%;
  }
  .connect {
    padding: 7% 10% 5% 5%;
    border-radius: 0 50px 50px 0;
    margin: 0;
  }
  .connect h3 {
    padding-top: 9%;
  }
  .connect p {
    padding-bottom: 0;
    padding-right: 0;
  }
  .details {
    margin: 0;
    width: 95%;
  }
  .headText {
    margin-bottom: 45px;
    margin-left: 0;
  }
}

@media (min-width: 1441px) and (max-width: 1560px) {
  .connect h3 {
    padding-top: 25%;
  }
}

@media (min-width: 1561px) and (max-width: 1679px) {
  .connect h3 {
    padding-top: 18%;
  }
}

@media (min-width: 1441px) and (max-width: 1679px) {
  .creators {
    background-color: #fff;
  }
  .image {
    width: 135%;
    margin-bottom: 50px;
  }

  .developerSection {
    padding-top: 10%;
    padding-bottom: 8%;
  }

  .details {
    width: 80%;
    margin-left: 150px;
    margin-bottom: 50px;
  }

  .developerDetail {
    display: flex;
    margin-left: 50px;
  }

  .headText {
    margin-left: 50px;
    margin-bottom: 7%;
    color: #003452;
    font-size: 35px;
  }

  .singleDetail {
    width: 32%;
    padding-right: 10px;
    margin-right: 50px;
    margin-bottom: 2%;
    display: flex;
  }
  .point {
    display: flex;
    flex-direction: row;
  }

  .point ul {
    list-style: none;
  }

  .point ul li::before {
    content: '\2022';
    color: #39b54a;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.5em;
  }

  .point li {
    font-size: 18px;
  }

  .decision {
    width: 85%;
    margin: auto;
    display: flex;
    border-radius: 50px;
    flex-direction: row;
  }

  .correct {
    padding: 70px 100px 70px 90px;
    background-color: #f6f8f9;
    border-radius: 50px 0 0 50px;
    width: 200%;
  }

  .correct h3 {
    padding-bottom: 40px;
  }

  .connect {
    background-color: #edf1f3;
    background-image: url('../public/assets/images/bg-2.png');
    padding: 80px 112px 80px 90px;
    background-size: 91% 100%;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 0 50px 50px 0;
    margin: 0;
  }

  .connect p {
    margin-bottom: 0;
  }

  .fees h3 {
    padding-bottom: 12%;
    padding-top: 2%;
  }

  .fees {
    margin-bottom: 50px;
  }

  .income h3 {
    padding-bottom: 5%;
  }

  .row1 {
    padding-bottom: 20px;
  }
}

@media (min-width: 1680px) {
  .creators {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .details {
    margin-left: 2%;
    width: 68%;
  }
  .headText {
    text-align: left;
    margin-left: 25px;
    margin-bottom: 5%;
  }
  .fees h3 {
    padding-bottom: 20px;
  }
  .content h3 {
    padding-bottom: 20px;
  }
  .income h3 {
    padding-bottom: 20px;
  }
  .awareness h3 {
    padding-bottom: 20px;
  }
  .decision {
    width: 70%;
    margin: auto;
    display: flex;
    border-radius: 50px;
    margin-top: 2%;
    flex-direction: row;
  }
  .correct {
    padding: 5% 10% 5% 5%;
    background-color: #f6f8f9;
    border-radius: 50px 0 0 50px;
  }
  .correct h3 {
    font-size: 1.8em;
    margin-bottom: 5%;
  }
  .connect {
    padding: 5% 10% 5% 5%;
    border-radius: 0 50px 50px 0;
    margin: 0;
  }
  .connect h3 {
    padding-top: 60px;
  }
}
