.download{
    background-color: #39B54A;
}

.image{
    padding-top: 7%;
    text-align: right;
}

.button1{
    height: 50px;
    padding: 0;
    border: none;
    background: none;
}

.button2{
    height: 50px;
    padding: 0;
    border: none;
    background: none;
    padding-left: 20px;
}

.text{
    padding-top: 35%;
}

.text p{
    color: #003452;
    padding-top: 2%;
    padding-bottom: 7%;
}

/* small mobile */
@media screen and (max-width: 320px) {
    .text{
        padding-top: 20px;
        text-align: center;
    }
    .button2{
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

/* medium mobile */
@media screen and (max-width: 375px) {
    .download{
        width: 105%;
        text-align: center;
    }
    .text{
        padding-top: 20px;
        text-align: center;
    }
    .button2{
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        display: block;
        padding-left: 94px;
    }
}

/* large mobile */
@media screen and (max-width: 425px) {
    .text{
        padding-top: 20px;
        text-align: center;
    }
    .button2{
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        display: block;
        padding-left: 109px;
    }
}