.footer{
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
}

.link{
    margin-top: 30px;
    margin-bottom: 5px;
    color: #9EA0A4;
}

.contact{
    color: #9EA0A4;
}

.policy{
    color: #003452;
    padding-top: 11%;
}

.footerRight{
    padding-left: 17%;
}

@media (max-width: 320px) {
    .footer{
        width: 102%;
    }
    .image{
        text-align: center;
    }
    .footerRight{
        padding-left: 0;
    }
    .policy{
        padding-top: 5%;
    }
}