.header{
    background-color: #EDF1F3;
}

.image{
    text-align: right;
    padding-right: 8%;
    padding-bottom: 10%;
}

.image img{
    width: 70%;
}

.headerText{
    margin-left: 27%;
}

.headerh1{
    margin-bottom: 5%;
    padding-top: 15%;
    padding-right: 26%;
    font-size: 40px;
}

.headerP{
    margin-bottom: 17%;
}

/* small mobile */
@media screen and (max-width: 320px) {
    .header{
        width: 100%;
        text-align: center;
    }
    .headerText{
        margin-left: 0;
    }
    .headerh1{
        padding-right: 0;
        font-size: 27px;
    }
    .headerP{
        font-size: 15px;
        margin-bottom: 5%;
    }
    .image{
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 30px 0 30px 0;
    }
}

/* medium mobile */
/* @media screen and (max-width: 375px) {
    .header{
        width: 105%;
        text-align: center;
    }
    .headerText{
        margin-left: 0;
    }
    .headerh1{
        padding-right: 0;
        font-size: 30px;
    }
    .headerP{
        font-size: 16px;
        margin-bottom: 5%;
    }
    .image{
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 30px 0 30px 0;
    }
} */

/* large mobile */
/* @media screen and (max-width: 425px) {
    .header{
        text-align: center;
    }
    .headerText{
        margin-left: 0;
    }
    .headerh1{
        padding-right: 0;
        font-size: 30px;
    }
    .headerP{
        font-size: 16px;
        margin-bottom: 5%;
    }
    .image{
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 30px 0 30px 0;
    }
} */

/* tablet */
/* @media screen and (max-width: 768px) {

    .header{
        text-align: center;
    }
    .headerText{
        margin-left: 0;
    }
    .headerh1{
        padding-right: 0;
        font-size: 30px;
    }
    .headerP{
        font-size: 16px;
        margin-bottom: 5%;
    }
    .image{
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 30px 0 30px 0;
    }
} */

/* laptop medium */
/* @media screen and (max-width: 1024px) {
    .headerText{
        margin-left: 10px;

    }
    .headerh1{
        padding-right: 2%;
    }
    .headerP{
        padding-right: 10px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10%;
    }
} */