.header{
    background-color: #EDF1F3;
}

.image{
    text-align: right;
    padding-right: 8%;
    padding-bottom: 10%;
}

.image img{
    width: 70%;
}

.headerText{
    margin-left: 27%;
}

.headerh1{
    margin-bottom: 5%;
    padding-top: 15%;
    padding-right: 26%;
    font-size: 40px;
}

.headerP{
    margin-bottom: 17%;
}