.navbar {
  width: 100%;
}

.nav li {
  padding: 0 20px;
}

.nav a {
  color: #003452 !important;
}

.nav a:hover {
  font-weight: 500;
}

.nav ul {
  line-height: 50px;
}

.nav {
  background-color: #edf1f3;
}

.langMenu {
  position: relative;
  margin-left: auto;
}

.selectedLang {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 115px;
  justify-content: space-between;
}

.selectedLang:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.langMenu ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  line-height: 1.45;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  left: 0;
  justify-content: center;
}

.langMenu ul li {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.langMenu ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
}

.langMenu ul li a:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.langMenu ul li a:hover {
  background-color: #f2f2f2;
  font-weight: 400;
}

.li{
  overflow: hidden;
}

.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.lt:before {
  background-image: url(https://www.countryflags.io/lt/flat/32.png);
}

.langMenu:hover ul{
  display: block;
}

@media (min-width: 992px) {
  .btn {
    padding-right: 0 !important;
  }
}

@media (min-width: 1680) {
  .nav {
    background-color: #edf1f3;
    padding-bottom: 2%;
  }

  .nav li {
    margin-right: 10px;
  }
}
